<!DOCTYPE html>
<head>
    <title>Habme - Wartungsmodus</title>

    <link rel="stylesheet" href="./web/styles/css/animate.css"/>
    <link rel="stylesheet" href="./web/styles/css/main.css"/>
    <link rel="stylesheet" href="./web/styles/css/forum.css"/>

    <script lang="text/js" src="./web/js/forum.js"></script>

    <meta name="keywords"
          content="habbo.de, habbohotel, habbohotel.me, habbo retro, retro hotel, retro, kostenlose taler, kostenlos, habbo rares, staffs, habme, habhotel.me">
    <meta name="description"
          content="Im Habbohotel.me kriegst du t채glich kostenlose Taler und Rares, gefolgt von super coolen Events! Registrier dich jetzt komplett kostenfrei und trete einer unglaublichen Community bei!">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta name=viewport content="width=device-width, initial-scale=0.8">
    <meta name="robots" content="index,follow">
    <meta name="geo.region" content="DE-NI"/>
    <meta name="geo.position" content="52.636704;9.845077"/>
    <meta name="ICBM" content="52.636704, 9.845077"/>
</head>

<body style="background-color: rgb(52, 152, 219);">
<div class="header">
    <div class="headcon">
        <img id="logo" src="./web/assets/logo.png" style="margin-top:45px; float: left; ">
        <div class="place">Community place</div>
        <a href="/login">
            <div class="place" style="float: right; background:rgba(135, 211, 124, 0.8);">Einloggen</div>
        </a>
        <a href="">
            <div class="place" style="float: right; background:rgba(34, 167, 240, 0.8);">Registrieren</div>
        </a>
        <div class="nav">
            <div class="user"></div>
            <div class="icon1"></div>
            <div class="icon2"></div>
        </div>
    </div>
</div>
<div class="dashboard">
    <div class="line">
        <h1>Willkommen im Forum, Gast! </h1>
    </div>
    <div class="dash-line"></div>

    <div class="dashboard-entries">
        <div id="comEntries" class="community-tab forum-tab" data-tabName="community"
             alt="Habbohotel.me Community Beitr채ge von unseren Habbo User"
             style="cursor:pointer;"></div>
        <div id="annoEntries" class="announcement-tab forum-tab" data-tabName="announcement"
             alt="Habbohotel.me Ank체ndigungen von unseren Habbo Staffs"
             style="cursor:pointer;"></div>
    </div>

    <div class="dash-line" style="margin-top: 35px"></div>
    <div class="line" style="margin-top:-20px">
        <h1>Die aktuellsten Beitr채ge aus dem Community Forum</h1>
    </div>
    <div class="dash-line" style="margin-bottom: 70px"></div>

    <div id="communityContent" data-tab="communityEntries" style="display: none;">
        {% for communityThread in communityThreads %}
            <div class="dashboard-entries" data-toggle="modal" data-threadId="{{ communityThread.id }}">
                <div class="bar-content">
                    <div class="bar bar-green">COMMUNITY</div>
                    <div class="user-post">by {{ communityThread.username }}</div>
                </div>

                <div class="update-line-right">
                    <div class="short-title">{{ communityThread.title }}</div>
                    <div class="short-text">{{ communityThread.content }}
                    </div>
                </div>
                <div class="right-avatar-content">
                    <div class="user-avatar"
                         style="background: url({{ communityThread.avatar }})50% 30%;"></div>
                </div>
            </div>
            <div class="short-dash" style="margin-bottom: 50px"></div>
        {% endfor %}
    </div>

    <div id="announcementContent" data-tab="announcementEntries" style="display: none;">
        {% for announcementThread in announcementThreads %}
        <div class="dashboard-entries" data-toggle="modal" data-threadId="{{ announcementThread.id }}" data-modallink="">
            <div class="bar-content">
                <div class="bar bar-red">ANNOUNCEMENT</div>
                <div class="user-post">by {{ announcementThread.username }}</div>
            </div>

            <div class="update-line-right">
                <div class="short-title">{{ announcementThread.title }}</div>
                <div class="short-text">{{ announcementThread.content }}</div>
            </div>
            <div class="right-avatar-content">
                <div class="user-avatar"
                     style="background: url({{ announcementThread.avatar }})50% 30%;"></div>
            </div>
        </div>
        <div class="short-dash" style="margin-bottom: 50px"></div>
        {% endfor %}
    </div>
</div>

</body>