<div id="overlay"></div>
<div id="threadPopup" class="{% if(not newPost) %}animated fadeInDown {% endif %}">
    <div class="line" style="margin-top: -10px;">
        <img src="./web/assets/threadpin.png" style="margin-top: 17px; margin-right: 20px;float: left;">
        {{ threadTitle }}
    </div>

    <div class="dash-line" style="margin-bottom:10px;"></div>
    <div class="thread-content">
        <div class="topic-post">

            {% for threadPost in threadPosts %}

                <div class="comment-area">
                    <div class="left-com">
                        <br><br>
                        <div class="post-username-title">{{ threadPost.username }}</div>
                        <div class="post-user-image" style="background: url({{ threadPost.avatar }})30% 40%;"></div>


                        {% for rank in threadPost.ranks %}

                            <div class="post-rank rank-{{ rank.rank_name|lower }}">
                                <span style="background: url(./web/assets/userbg.gif) center">{{ rank.rank_name }}</span>
                            </div>

                        {% endfor %}

                    </div>

                    <div class="right-com">
                        <div class="post-date"><span
                                    style="font-weight: bold;">Geschrieben am {{ threadPost.date|date("d.m.Y") }}</span>
                            <div style="float: right;"><img src="{% if(threadPost.isOp) %} ./web/assets/owner_icon.gif {% else %} ./web/assets/post.png {% endif %}" title="Verfasser des Themas" style="margin-top: -6px;"></div>
                            <div style="float:right"></div>
                        </div>
                        <div class="user-comment">
                            {{ threadPost.content }}
                        </div>
                    </div>
                </div>

            {% endfor %}


            <form method="POST">
                <textarea name="comment" class="comment-box"></textarea>
                <input type="submit" class="comment-submit" name="comment-submit" value="Beitrag abschicken">
            </form>
        </div>
    </div>
</div>
